/* Global variables */
:root {
  /* Colors */
  --color: rgb(66, 6, 6);
  --color-white: white;
  --color-black: rgb(15, 15, 20);

  /* Fonts */
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "Chivo", var(--font-system);
  --font-display: "Petit Formal Script", var(--font-body);
  --font-size-xs: 0.7rem;
  --font-size-sm: 0.9rem;
  --font-size-lg: 5rem;
  --font-weight-light: 300;
  --line-height-normal: 1.5;

  /* Z-index */
  --z-index-site-header: 20;

  /* Radius */
  --radius-2: 1rem;

  /* Spacing */
  --spacing-2: 1rem;
  --background-image-noise: url("/assets/112.webp");
  --main-background-image: var(--background-image-noise);
  --main-background-color: light-dark(var(--color-white), var(--color-black));

  --main-color: light-dark(
    var(--color),
    color(
      from var(--color) display-p3 calc(r + 0.7) calc(g + 0.7) calc(b + 0.7)
    )
  );
  --main-color-light: light-dark(
    color(
      from var(--color) display-p3 calc(r + 0.5) calc(g + 0.5) calc(b + 0.5)
    ),
    color(
      from var(--color) display-p3 calc(r + 0.4) calc(g + 0.4) calc(b + 0.4)
    )
  );
}

:root.theme-dark {
  --main-background-image-filter: none;
}

html {
  color-scheme: light;

  &.theme-dark {
    color-scheme: dark;
  }
}
